# to use manual settings and prevent them from being deleted on upgrade, rename *_user.example files to *_user
Filetype: Flipper SubGhz Setting File
Version: 1
# Add Standard frequencies for your region
#Add_standard_frequencies: true

Add_standard_frequencies: true

# Default Frequency: used as default for "Read" and "Read Raw"
#Default_frequency: 433920000

# Frequencies used for "Read", "Read Raw" and "Frequency Analyzer"
#Frequency: 300000000
#Frequency: 310000000
#Frequency: 320000000

Frequency: 402800000

# Frequencies used for hopping mode (keep this list small or flipper will miss signal)
#Hopper_frequency: 300000000
#Hopper_frequency: 310000000
#Hopper_frequency: 310000000

Hopper_frequency: 402800000

# Custom preset
# format for CC1101 "Custom_preset_data:" XX YY XX YY .. 00 00 ZZ ZZ ZZ ZZ ZZ ZZ ZZ ZZ, where: XX-register, YY - register data, 00 00 - end load register, ZZ - 8 byte Pa table register

#Custom_preset_name: AM_1
#Custom_preset_module: CC1101
#Custom_preset_data: 02 0D 03 07 08 32 0B 06 14 00 13 00 12 30 11 32 10 17 18 18 19 18 1D 91 1C 00 1B 07 20 FB 22 11 21 B6 00 00 00 C0 00 00 00 00 00 00

#Custom_preset_name: AM_2
#Custom_preset_module: CC1101
#Custom_preset_data: 02 0D 03 07 08 32 0B 06 14 00 13 00 12 30 11 32 10 17 18 18 19 18 1D 91 1C 00 1B 07 20 FB 22 11 21 B6 00 00 00 C0 00 00 00 00 00 00

Custom_preset_name: 2FSK-3K
Custom_preset_module: CC1101
Custom_preset_data: 02 0D 03 00 08 32 0B 04 32 00 13 06 12 30 11 32 68 83 04 02 00 07 1D 91 18 16 1B 07 00 91 22 11 FB 56 10 00 00 C0 00 00 00 00 00 00
										 07			 0B				10 BDS	    14 devi    	18	  1A				20
DRATE_M  & DRATE_E 9600bd:
OX83(131)		0X08
26e6*((256+131)*2^8)/(2^28)
26e6*((256+DRATE_M)*2^DRATE_E)/(2^28)
SEE CC1101 DATASHEET SECTION --> 0x11: MDMCFG3 – Modem Configuration
0x10 = 0x68
0X11 = 0x83

DEVIATN 3k:
(26e6)/2^17)*(8+7)*2^0
(26e6)/2^17)*(8+DEVIATION_M)*(2^DEVIATION_E)
SEE CC1101 DATASHEET SECTION --> 0x15: DEVIATN – Modem Deviation Setting
0x15 = 0x07
